
  


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(img/desert-3598089_1920.jpg);
  background-position: bottom;
  background-size: cover;
}

#fullScreen {
  background-color: blueviolet;
  position: relative;
  border-radius: 22px;
  border: 6px solid #467b46;

}

canvas {
  background-color: black;
  border-radius: 13px;
 width: 100%;
 height: 100%;
 


}

.start-container {
  background: url(img/9_intro_outro_screens/start/startscreen_1.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#buttonStart {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1000;

}

 #buttonGame {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1001;

}





#exitStart, #exitGame {
  display: none;
  position: absolute;
  width: 50px;
  height: 50px;
  right: 50px;
  top: 50px;
  cursor: pointer;
  z-index: 1000;

}

#startButton {
  background-color: transparent;
  font-size: 35px;
  border: 5px solid black;
  width: 250px;
 margin-top: 5%;
 border-radius: 5px;
 cursor: pointer;
}

#startButton:hover {
  color: white;
  border: 5px solid white;
}

