body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    background-color: black;
    position: relative !important;
}

#button {
    position: absolute !important;
    top: 100px;
    right: 100px;
}