body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(img/desert-3598089_1920.jpg);
 
  background-size: cover;
   background-position: 50% 90% ;
  background-repeat: no-repeat;
  font-family: 'Lato', sans-serif;
font-family: 'Londrina Solid', cursive;
font-family: 'Rye', cursive;
 
 
}

* {
   font-family: 'Rye', cursive;
}

#h1 {
  font-size: 65px;
  color: rgb(168, 43, 43);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#wrapper {
  position: relative;
  width: 790px;
  height: 480px;
  border-radius: 22px;
  border: 6px solid #467b46;
}

canvas {
  background-color: black;
  border-radius: 13px;
  height: 100%;
  width: 100%;
 }

.start-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 13px;
  background: url(img/9_intro_outro_screens/start/startscreen_1.png);
  background-size: cover;
  background-position: center;
  z-index: 1;
}

/* .game-over-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 13px;
  background: url("img/9_intro_outro_screens/game_over/game over!.png");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
} */

.d-none {
  display: none !important;
}


#fullScreenStart {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;

}

#exitFullScreenStart {
  display: none;
  position: absolute;
  width: 50px;
  height: 50px;
  right: 50px;
  bottom: 50px;
  cursor: pointer;
}


#fullScreenGame , #fullScreenGameOver {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
}


#exitFullScreenGame {
  display: none;
  position: absolute;
  width: 50px;
  height: 50px;
  right: 50px;
  bottom: 50px;
  cursor: pointer;

}

#startButton {
  position: absolute;
  background-color: transparent;
  font-size: 35px;
  width: 250px;
  top: 10%;
  left: calc( 50% - 120px);
  cursor: pointer;
  border: unset;
  background-color: #ffd000;
  border-radius: 10px;
  border: 2px solid;
  
}

#startButton:hover {
  color: rgb(186, 48, 48);
  color:  rgb(139, 38, 38);
}

.startOpacity {
  opacity: 0;
  transition: all 1500ms ease-in-out;
}

/* #endContainer {
 display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 
  background-color: blueviolet;
  background-color: transparent;
  z-index: 999;
  
} */

 /* #gameOver {
  width: 790px;
  height: 480px;
   background-color: #ffd000; 
  background-color: rgba(0, 0, 0, 1);
  background-image: url("img/9_intro_outro_screens/game_over/game over!.png");
  background-size: cover;
  background-position: 50% 90% ;
 background-repeat: no-repeat;
  border: 6px solid #467b46;
  border-radius: 13px;

}  */


  .game-over-container {
  
  display: none;
  background-color: rgb(226, 43, 110);
  background-image: url("img/9_intro_outro_screens/game_over/game over!.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 13px;
  z-index: 2;
}  

#exitFullScreenGameOver {
  display: none;
  position: absolute;
  width: 50px;
  height: 50px;
  right: 50px;
  bottom: 50px;
  cursor: pointer;
}


 #fullScreenGameOver {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
}


#startAgainButton {
  position: absolute;
  top: 10%;
  left: calc( 50% - 120px);
  cursor: pointer;
  border: unset;
}


#landscapeAlert {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
  background: url(img/desert-3598089_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;


}
  .image {

   width: 250px;
   height: 250px;
    -webkit-animation:spin 1s linear forwards;
    -moz-animation:spin 1s linear forwards;
    animation:spin 1s linear forwards;
}
@-moz-keyframes spin { 
   
    100% { -moz-transform: rotate(-90deg); } 
}
@-webkit-keyframes spin { 
  
    100% { -webkit-transform: rotate(-90deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(-90deg); 
        transform:rotate(-90deg); 
    } 
}
